:root {
  --icons-blue: #3B7C9A;
  --icons-yellow: #FCAF17;
  --icons-red: #C00017;
  /* cast */
  --cast-name-color: white;
  --cast-role-color: cornflowerblue;
  --cast-body-color: #1e1e1e;
}

body {
    overflow-x: hidden;
    margin: 0;
}
body.hide {
    overflow-y: hidden;
}

#poster {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: 3;
  cursor: pointer;
}

#poster.hide {
  opacity: .29;
  z-index: auto;
  pointer-events: none;
  cursor: unset;
}

/* icons */
.back-icon {
  width: 50px;
  position: fixed;
  z-index: 2;
  left: 5px;
  top: -3px;
  cursor: pointer;
}

.icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  width: 70%;
}

.icons__pack {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icons__pack img {
  width: 2.5rem;
  height: 2.5rem;
}

.icons__pack h3 {
  color: var(--cast-body-color);
}

/* story */
.story {
  width: 80%;
  margin: auto;
  text-align: center;
  padding: 15px;
  background-color: var(--cast-body-color);
  color: var(--cast-name-color);
  border-radius: 25px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

/* crew */
.cast-crew {
  font-weight: 700;
  text-align: center;
  color: var(--cast-body-color);
  position: relative;
  z-index: -1;
  font-size: 4rem;
  margin: 8px 0;
}

/* Cast */
.casts {
  width: 80%;
  margin: auto;
  list-style: none;
  padding: 0;
}

.cast {
  display: flex;
  align-items: center;
  border-radius: 30px;
  border-bottom-right-radius: 0;
  margin: 5px 0;
  overflow: hidden;
}
.cast img {
  width: 5rem;
  height: 5rem;
  max-width: 5rem;
  overflow: hidden;
  object-fit: cover;
  background-color: black;
  cursor: copy;
}

.cast div {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  z-index: -1;
  width: 100%;
  height: 5rem;
  background-color: var(--cast-body-color);
}

.cast h3, .cast h4 { margin: 0 .7rem 0.2rem; }
.cast h3 { color: var(--cast-name-color); }
.cast h4 { color: var( --cast-role-color); }


/* Ripple effect */
.ripple {
  background-position: center;
  transition: all 0.8s;
}
.ripple:hover {
  filter: drop-shadow(4px 4px 18px #01579B) brightness(1.1);
  transform: scale(1.5) translateX(-0.5rem);
}

/* helper */
.front {
  position: relative;
  z-index: 1;
}

@media only screen and (max-width: 400px) {
  html {
    font-size: 11px;
  }
}
@media only screen and (max-width: 200px) {
  html {
    font-size: 8px;
  }
  .cast-crew {
    font-size: 2.5rem;
  }
}